body{
    background-color: #24353F;
    margin: 0;
}


div.w-60{
    width: 60%;
    box-shadow: -5px 2px 54px -9px black;;
}
nav.navbar{
    background-color: #24353F !important;
    
}
input{
    border:1px solid white;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}